{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="text-center mb-4">About Us</h1>


            <h3 class="mt-4">Our Vision And Mission</h3>

            <p class="lead">
                There is rarely a need to outright say, “Our vision/mission is ____,” but you ought to convey the purpose of
                your business in your About Us copy.
            </p>

            <p>
                Talk about why your brand exists, what makes you different, and the challenges you solve – beyond the obvious
                solution you sell.
            </p>

            <p>
                This is key for attracting talent, as well as prospective buyers who align with your objectives and value goals.
            </p>

            <h3 class="mt-4">Our Story (History)</h3>
            <p>
                Every business has an origin story worth telling, and usually one that justifies why you do business and have clients.
            </p>
            <p>
                Some centennial enterprises have pages of content that can fit in this section, while startups can tell the
                story of how the company was born, its challenges, and its vision for the future.
            </p>
            <p>
                Whatever it is, your story matters to your prospective buyers and team members. Make it entertaining and as
                immersive as you can.
            </p>

            <h3 class="mt-4">Our Services (And Benefits)</h3>
            <p>
                Even if your services are the focus of your homepage and dedicated product pages, summarizing them on your About
                Us page is crucial for alignment with brand values.
            </p>
            <p>
                Highlight the benefits of your solutions, showcase what you do, and establish why you are unique.
            </p>

            <h3 class="mt-4">Our Social Proof</h3>
            <p>
                Reviews, client logos, case studies, and testimonials bring consistency to your About Us page. Social proof
                demonstrates the authenticity of your claims and the impact you can bring to future clients.
            </p>
            <p>
                With these four components in mind, you will have a framework from which to build an engaging and unique About
                Us page that incorporates your business’s most important asset: your clients.
            </p>

        </div>
    </div>
</div>
{% endblock %}
